<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>AI-Law</title>
<style>

</style>
  </head>

  <body>

    <div class="title">gpt-3 + harvard's cap</div>

    <div class="tooltip">instructions
      <span class="tooltiptext">Enter a legal question and the search query to search in case.law.  If you leave it blank, the AI will create a term for you but the results may not be as good.  <br><br> After the AI does the research, you can ask for summaries of the cases it researched.  It is likely a best practice to break down your legal writing project into small parts to get useful content from the AI.</span>
    </div>

    <div class="chat">
      <div id="output-container" class="output-container waiting"></div>
      <div id="outputDiv"></div>
      <form onsubmit="event.preventDefault();">
        <div class="input-container">
          <input type="text" id="input-field" class="input-field" placeholder="Enter your legal question here..." />
          <input type="text" id="query-field" class="input-field" placeholder="Enter your legal research search query here, i.e. exclusionary rule..." />
          <button id="submit-button" class="submit-button">>></button>
        </div>
      </form>
      <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
    </div>

  </body>

  </html>
  
